.login span {
  font-size: 30px;
  color: black;
}
.login {
  z-index: 1000;
  position: absolute;
  background-color: aquamarine;
  left: 86%;
  visibility: hidden;
}
.login1 {
  z-index: 1000;
  position: absolute;
  background-color: aquamarine;
  left: 86%;
  visibility: visible;
}
#floatingb {
  z-index: 1001;
  position: absolute;
  left: 95%;
}
.bhutonFlotante {
  position: absolute;
  left: 95%;
  z-index: 5000;
}
#btnlogin{
    font-size: 20px;
}


.login span, .login1 span{
    font-size: 27px;
}