.button-reporte{
    border: 1px solid  #000000;
    color: #000000;
    padding: 20px 30px;
    
}

.reportes .row{
    margin-top: 40px;
    color: #000000;
    text-align: justify;
}

.reportes span{
    font-size: 20px;
}

.reportes input{
    border: 1px solid #000000;
}

.reportes .col-sm-12{
    
}

#reporteTitle{
    margin-top: 20px;
    text-align: center;
}

#repcontent{
    text-align: center;
}